<?xml version="1.0"?>
<Border Foreground="Transparent" Height="Fit" Focusable="true">
	<HorizontalStack Spacing="10"
		MouseEnter="{Background=BlueCrayola}"
		MouseLeave="{Background=Transparent}">
			<Image Width="18" Height="18" Path="{ImgSetPath}"/>
			<Label Text="{Name}" Width="Stretched"/>
	</HorizontalStack>
</Border>
